<%- include('./view/_header') %>
<%- include('./view/project/_p-header') %>
<%- include('./view/project/_p-loading') %>
<main id="js-container" class="p-container">
  <%- include('./view/page/_' + page) %>
</main>
<%- include('./view/_footer') %>
