<div class="c-member">
  <div class="c-member__inner">
    <div class="image">
      <img src="<%- imagePath %>index/<%- item.image %>" alt="<%- item.name %>">
    </div>
    <div class="profile">
      <p class="position"><%- item.position %></p>
      <p class="name"><%- item.name %></p>
      <p class="type">- <%- item.type %></p>
    </div>
  </div>
</div>
