<!DOCTYPE html>
<%# common data %>
<% include('../../const/_META') %>
<% include('../../const/_PAGE') %>
<% include('../../const/_MEMBER') %>
<%
//パスの設定
rootPath = '/';
//if(IS_PRODUCTION) rootPath = '/protoout-silent/pc/';
assetPath = rootPath + 'wp-content/themes/protoout/assets/';
imagePath = assetPath + 'images/';
commonImagePath = imagePath + 'common/';
%>
<%
//メタ情報の設定
meta = {};
meta.title = META[page].title || '';
meta.description = META[page].description || '';
meta.keywords = META[page].keywords || '';
%>

<head>
  <meta charset="UTF-8">
  <title>ProtoOut Studio（プロトアウトスタジオ）</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="<%- meta.description %>">
  <meta name="keywords" content="<%- meta.keywords %>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:admins" content="">
  <meta property="og:title" content="<%- meta.title %>">
  <meta property="og:description" content="<%- meta.description %>">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%- commonImagePath %>ogp/ogp.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="<%- meta.title %>">
  <meta name="twitter:description" content="<%- meta.description %>">
  <meta name="twitter:image" content="<%- commonImagePath %>ogp/ogp.png">
  <link rel="stylesheet" href="<%- assetPath %>css/style.css">
  <link rel="shortcut icon" href="<%- commonImagePath %>ogp/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="<%- commonImagePath %>ogp/apple-touch-icon-57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%- commonImagePath %>ogp/apple-touch-icon-60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<%- commonImagePath %>ogp/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<%- commonImagePath %>ogp/apple-touch-icon-76.png">
  <link rel="apple-touch-icon" sizes="96x96" href="<%- commonImagePath %>ogp/apple-touch-icon-96.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%- commonImagePath %>ogp/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<%- commonImagePath %>ogp/apple-touch-icon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<%- commonImagePath %>ogp/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<%- commonImagePath %>ogp/apple-touch-icon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<%- commonImagePath %>ogp/apple-touch-icon-180.png">
  <link rel="apple-touch-icon" sizes="190x190" href="<%- commonImagePath %>ogp/apple-touch-icon-190.png">
  <script>
    document.documentElement.className = document.documentElement.className.replace("no-js", "js");

  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '818940308482771');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=818940308482771&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <meta name="google-site-verification" content="jVSgJfMGP2gDr2V0BFBpDHsZxyN1E5il6G_RIusck2M" />
  <meta name="google-site-verification" content="ZCNbE_Po0Tn0w31RacvUHJYLtUN7DhcwhgQAe7pfPb8" />
</head>

<body>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78080011-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-78080011-4');
  </script>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.2'
    });

    FB.Event.subscribe('customerchat.dialogShow', function(){
      FB.CustomerChat.hideDialog();
    });
  };
  
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="623582861398719"
  theme_color="#B81C22"
  logged_in_greeting="こんにちは！気になることがあれば気軽にメッセージ下さい！"
  logged_out_greeting="こんにちは！気になることがあれば気軽にメッセージ下さい！">
</div>