<div class="p-header">
  <h1 class="p-header__logo">
  <img src="<%- imagePath %>index/logo.png" alt="">
  </h1>
  <div class="p-header__navi">
    <nav>
      <div class="p-header__navi__item nav-about" class="p-header__navi__item">
        <p>ProtoOut Studioとは</p>
      </div>
      <div class="p-header__navi__item nav-curriculum" class="p-header__navi__item">
        <p>カリキュラム</p>
      </div>
      <div class="p-header__navi__item nav-member" class="p-header__navi__item">
        <p>メンバー紹介</p>
      </div>
    </nav>
    <div class="p-header__navi__sns">
      <a href="https://www.facebook.com/ProtoOut-Studio-623582861398719/" target="_blank"><%- include('../svg/_svg-icon-facebook.svg') %><%- include('../svg/_svg-icon-facebook.svg') %></a>
      <a href="https://twitter.com/dotstud_io" target="_blank"><%- include('../svg/_svg-icon-twitter.svg') %><%- include('../svg/_svg-icon-twitter.svg') %></a>
    </div>
  </div>
  
  <div class="p-header__contact contact-link">
    <p>申し込み（1期生募集中）</p>
    <span class="arrow"></span>
  </div>
  <div class="p-header__spBtn">
    <div class="p-header__spBtn__open">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="p-header__spBtn__close">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="p-header__spContact contact-link">
    <div class="p-header__spContact__inner">
      お申し込みはこちら<span class="arrow is-red"></span>
    </div>
  </div>
</div>
