<section class="p-top-curriculum">
  <%- include('../component/_c-sectionTitle',{data:{
    title:'カリキュラム',
    desc:'CURRICULUM',
    },
  }) %>
  <p>ProtoOut Studioは、既存のスクールとは違い、JavaScriptを学んでAPIファーストで学べる効率的なカリキュラムを組んでおります。</p>

  <div class="p-top-curriculum__btn is-right"><span></span><span></span>
    <p>スケジュール</p>
  </div>

  <div class="p-top-curriculum__body">
    <div class="p-top-curriculum__body__phase">
      <p class="p-top-curriculum__body__phase__top">フェーズ1</p>
      <div class="p-top-curriculum__body__phase__inner">
        <div>
          <img src="<%- imagePath%>index/curriculum01.png" alt="">
          <span class="viewItem1"></span>
          <div class="subItem1"><span></span>ハッカソン</div>
        </div>
        <span></span>
        <div><img src="<%- imagePath%>index/curriculum02.png" alt=""></div>
      </div>
    </div>
    <span></span>
    <div class="p-top-curriculum__body__phase">
      <p class="p-top-curriculum__body__phase__top">フェーズ2</p>
      <div class="p-top-curriculum__body__phase__inner">
        <div><img src="<%- imagePath%>index/curriculum03.png" alt=""></div>
        <span></span>
        <div>
          <img src="<%- imagePath%>index/curriculum04.png" alt="">
          <span class="viewItem2"></span>
          <div class="subItem2">
            <span></span>
            <p>メンターとともに、<br>制作内容を確定します</p>
          </div>
        </div>
      </div>
    </div>
    <span></span>
    <div class="p-top-curriculum__body__phase">
      <p class="p-top-curriculum__body__phase__top">フェーズ3</p>
      <div class="p-top-curriculum__body__phase__inner">
        <div><img src="<%- imagePath%>index/curriculum05.png" alt=""></div>
        <span></span>
        <div><img src="<%- imagePath%>index/curriculum06.png" alt=""></div>

        <div class="subItem3">
          <span></span>
          <p>メンターとともに、<br>ブラッシュアップします</p>
        </div>
      </div>
    </div>
  </div>
</section>
