<div class="p-top-work">

  <section class="p-top-work__proto">

    <span data-lax-opacity="(vh*.13) 0, (vh*.3) 0.3" data-lax-scale="(vh*.1) 2, (vh*.4) 1" data-lax-anchor="self" class="lax p-top-work__proto__backItem backItem" style="background-image:url('<%- imagePath %>/index/backitem1.png')"></span>
    <div class="p-top-work__proto__top">
      <h2>制作面</h2>
      <span data-lax-translate-x="(vh*.5) 0, vh -300" data-lax-anchor="self" class="lax"><%- include('../svg/_svg-text-proto.svg') %></span>
    </div>
    <div class="p-top-work__proto__body">
      <div class="p-top-work__proto__body__item">
        <div class="p-top-work__proto__body__item__inner">
          <div class="p-top-work__proto__body__item__img" style="background-image:url('<%- imagePath %>index/proto-img1.jpg')"></div>
          <h3 class="p-top-work__proto__body__item__title">JavaScriptとAPI活用が中心</h3>
          <p class="p-top-work__proto__body__item__desc">一般的なエンジニアとしての基礎を身につけるよりも、<b>まずJavaScriptを学び数多くのAPIを扱う</b>ことで、アイディアをカタチにするチカラ「プロトタイピング能力」を最速で手に入れることを目指します。</p>
        </div>
      </div>
      <div class="p-top-work__proto__body__item">
        <div class="p-top-work__proto__body__item__inner">
          <div class="p-top-work__proto__body__item__img" style="background-image:url('<%- imagePath %>index/proto-img2.jpg')"></div>
          <h3 class="p-top-work__proto__body__item__title">ハードウェア・IoTを<br>学習するカリキュラム</h3>
          <p class="p-top-work__proto__body__item__desc">昨今ではソフトウェア技術はオンラインで習得しやすくなってきています。AIやブロックチェーンなども学んでいきますが、その中でも特にオフラインの強みを生かしハードウェアやIoT領域に重きを置いています。</p>
        </div>
      </div>
      <div class="p-top-work__proto__body__item">
        <div class="p-top-work__proto__body__item__inner">
          <div class="p-top-work__proto__body__item__img" style="background-image:url('<%- imagePath %>index/proto-img3.jpg')"></div>
          <h3 class="p-top-work__proto__body__item__title">ハッカソンを複数回、<br>カリキュラム内で実施</h3>
          <p class="p-top-work__proto__body__item__desc">ハッカソンは、自分のプロトタイピング能力を確認できる重要な機会です。<b>既存のスクールにありがちな、卒業制作時になってから自分に足りないものがやっとわかる、という思いはさせません。</b></p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-top-work__out">

    <span data-lax-opacity="(vh*.1) 0, (vh*.34) 0.4" data-lax-scale="(vh*.1) 2, (vh*.4) 1" data-lax-anchor="self" class="lax p-top-work__out__backItem backItem" style="background-image:url('<%- imagePath %>/index/backitem2.png')"></span>
    <div class="p-top-work__out__top">
      <h2>発信面</h2>
      <span data-lax-translate-x="(vh*.5) 0, vh 200" data-lax-anchor="self" class="lax"><%- include('../svg/_svg-text-out.svg') %></span>
    </div>
    <div class="p-top-work__out__body">
      <div class="p-top-work__out__body__item">
        <div class="p-top-work__out__body__item__inner">
          <div class="p-top-work__out__body__item__img" style="background-image:url('<%- imagePath %>index/out-img1.jpg')"></div>
          <h3 class="p-top-work__out__body__item__title">著名な講師・メンターコミュニティ</h3>
          <p class="p-top-work__out__body__item__desc">アイデアをカタチにする力に長けた講師陣から良質なプロトタイピングを学び、さらにExit戦略や各種コネクションを多く持つメンターが社会に接続できるクオリティへ磨き上げます。<b>強力な布陣のコミュニティと繋がりましょう。</b></p>
        </div>
      </div>
      <div class="p-top-work__out__body__item">
        <div class="p-top-work__out__body__item__inner">
          <div class="p-top-work__out__body__item__img" style="background-image:url('<%- imagePath %>index/out-img2.jpg')"></div>
          <h3 class="p-top-work__out__body__item__title">制作したプロトタイプを<br>社会に発信する場を提供</h3>
          <p class="p-top-work__out__body__item__desc">プロトタイプを作っただけで終わりではありません。展示など、制作物を発表する場と適切な方法を提供し、社会にアウトプットすることを目指します。作ったプロトタイプが多様な結果を生み、胸を張って伝えられるあなたのポートフォリオになります。</p>
        </div>
      </div>
      <div class="p-top-work__out__body__item">
        <div class="p-top-work__out__body__item__inner">
          <div class="p-top-work__out__body__item__img" style="background-image:url('<%- imagePath %>index/out-img3.jpg')"></div>
          <h3 class="p-top-work__out__body__item__title">卒業発表の場、<br>プロトアウトオークション</h3>
          <p class="p-top-work__out__body__item__desc">卒業発表は、ただ説明するだけの発表会ではありません。卒業まで作り上げたプロトタイプを、企業の社長や決済者に本気でアピールできるオークションの場として開かれます。本スクールで学んだ力を存分に試すことができます。</p>
        </div>
      </div>
    </div>
  </section>

</div>
